@using BackEnd_Intern__TEST_.CourseContext;

@model CoursesModel

 <ul>
    @foreach(var item in Model.KhoaHocs)
    {
        <li>
            <a href="@Url.Action("Index", "Home", new {id=item.Id})">@item.TenKhoaHoc</a>           
         </li>
    }
</ul>


<div id="course-details">
    @foreach(var item in Model.MonHocs)
    {
        <p>@item.TenMonHoc</p>
    }
</div>

